sudo: false

language: php

notifications:
  email:
    on_success: never
    on_failure: change

branches:
  only:
    - master

php:
  - 7.2
  - 7.3

install: travis_retry composer install --no-interaction

script: lib/vendor/bin/phpunit --configuration phpunit.xml.dist
